@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pattaya');

body {
    background-color: rgb(207, 55, 55);

}

.bgacc {
    background-image: url(hp.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 50%;
    background-position-y: -60%;
}

body p{
     color: white;
}




.txt {
    color: rgb(218, 197, 82);
    font-family: 'Pattaya', sans-serif;
    font-size: 44px;
}

.desc2 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-block-start: 50px;
    padding: 50px;
}

body section {
    height: calc(100vh - 38px);
    position: relative;
}



.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #e7c735;
}

.title {
    display: inline;
    position: relative;
}

.container {
    margin-bottom: 0px;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
}
.desc1{
    font-family: 'Karla', sans-serif;
    font-size: 44px;
}




.contenu{ 
    width: 810px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

form{
    outline: none;
    width:300px;
    padding:8px;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
    border: solid 4px #e6e6e6;
    font-family: "OpenSans";
    src: url('../Open_Sans/OpenSans-Regular.ttf');
}

button{
    text-align: center;
}

button:hover{
    background-color: #e7c735;
    color: white;
    border: none;
}

button:active{
    box-shadow: inset 1px 1px 1px 1px black;
}

input{
    width: 250px;
    height: 30px;
    border: solid 2px #e6e6e6;
    margin:1%;
}

input:hover{
    border:2px solid #e7c735
}
